/* @override 
	http://localhost:4000/FaceOff/stylesheets/layout.css
	http://localhost:9292/stylesheets/layout.css
*/

.clear {
	clear:  both;
}

.hide {
	display: none;
}

.banner {
	color: #000;
	font-family: 'Coda', sans-serif;
	text-transform: uppercase;
	font-size: 3.5em;
	padding: 30px;
	text-align: center;
}

.tweet_this {
	position: fixed;
	height: 62px;
	width: 55px;
	top: 100px;
	margin-left: -80px;
	border: 0px solid black;
}

.banner h1 {
	margin-bottom: 0;
}
.banner h2 {
	margin-top: -10px;
}

.hero-unit {
	background: #004687;
	color: #fff;
	position: relative;
	height: 503px;
	padding: 0;
	margin-top: 0px;
}

.hero-unit .pitch {
	width: 499px;
	padding: 3em 0 0 3em;
	margin: 0em;
}

.hero-unit .pitch em {
	font-weight: bold;
	font-style: normal;	
}

.hero-unit .pitch hr {
	margin-top: 2em ;
	width: 32em;
}

.hero-unit .btn {
	font-size: 1.2em;
	margin: 0px auto;	
}

.hero-unit h1,h2 {
	color: #fff;
}

.hero-unit a {
	color: #ccc;
}

.hero-unit p {
	margin-top: 20px;
	font-size: 16px;
}

#mark {
	display: block;
	background: url(/images/mark-back.png);
	width: 399px;
	height: 503px;
	top: 0px;
	right: 40px;
	position: absolute;
}

#mark.faceon {
	background: url(/images/mark.png);
}

#mark.faceon .show {
	display: none;
}
#mark.faceon .hide {
	display: inline;
}

#mark .like {
	background: url(../images/faceoff-icon.png) no-repeat;
	width: 300px;
	height: 24px;
	position: absolute;
	top: 180px;
	right: -92px;
	overflow: hidden;
}

#mark .like:hover {
	background-position: 0 -24px;
}

#mark.faceon .like {
	background: url(/images/like.png) no-repeat;
}

#mark .like .twipsy {
	top: -130px;
	left: -80px;
	width: 200px;
	font-size: 17px;
	opacity: 0.8;
}

#mark .like iframe {
	background: white;
	opacity: 0.8;
}

.hero-unit .credit {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 5px;
}

#primary {
}

#primary h2 {
	margin-bottom: 10px;
}

#primary li, #primary p {
	color: #333;
	font-size: 14px;
}

#primary p {
	font-size: 1.4em;
	line-height: 1.3em;
	margin-bottom: 1em;
}

#primary .side {
	margin-left: 40px;
}
#primary .side p {
	font-size: 14px;
	color: #808080;
}

#primary .side h2 {
	color: #40405a;
}

#primary .side .btn {
	font-size: 1.2em;
}

#secondary {
	margin-left: 0px;
}



#credit {
	display: inline-block;
	float: left;
}
footer .mixpanel {
	float: right;
}


